form {
	width: 350px;
	margin: auto;
	border: 2px solid #f2f2f2;
	margin-top: 8%;
	color: #606060;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

h2 {
	width: 100%;
	margin: 0;
	padding: 10% 0;
	background-color: #f2f2f2;
	text-align: center;
	font-weight: 100;
	}

label, input {
	display: block;
	margin-bottom: 15px;
	margin-left: 10%;
	width: 78%;
}

img	{
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#notEnoughNumbers {
	display: inline;
	float: right;
	font-size: 0.7em;
	color: #7ECDD2;
	margin-right: 35px;
	margin-top: 3px;
}

input {
	height: 25px;
	font-size: 1em;
}

.valid {
	
}

.invalidInput {
	background-color: #ee6060;
	opacity: 0.5;
	outline: none;
}

label[for="cvv"] {
	width: 40%;
	display: inline-block;
}

#cvvImg {
	position: absolute;
	top: 25%;
	left: 40%;
	width: 450px;
	display: none;
}

#cvv_explained {
	float: right;
	color: #7ECDD2;
	font-size: 0.7em;
	width: 30%;
	margin-top: 2px;
}


button {
	font-size: 1em;
  background-color: #7ECDD2;
  color: white;
  text-align: center;
  border: none;
  height: 25px;
  width: 78%;
  height: 35px;
  line-height: 30px;
  opacity: 1;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 2px;
  margin-left: 11%;
}

.button:hover {
	opacity: 0.75;
}

#error {
	font-size: 12px;
	padding: 0;
	color: #7ECDD2;
	margin-left: 12%;
}

#error:empty {
	display: none;
}

@media screen 
and (min-width: 320px)
and (max-width: 414px) {
	form {
		width: 90%;
	}

	#cvvImg {
		width: 70%;
		position: absolute;
		left: 0;
	}
}