form {
	width: 250px;
	border: 1px solid #7A378B;
	color: #7A378B;
	margin: auto;
	margin-top: 10%;
	font-size: 15px;
	box-shadow: 1px 1px 5px #7A378B;
	font-family: ucida sans unicode, lucida grande, sans-serif;
	padding: 10px 0 0 30px;
	background-color: white;
	opacity: ;
}

h3 {
	font-size: 22px;
}

label {
	float: left;
	height: 30px;
	line-height: 30px;
	width: 80%;
}

input {
	width: 85%;
	margin-top: 10px;
}

textarea {
	width: 85%;
	height: 100px;
	border: none;
	margin-top: 20px;
}

@media screen 
and (min-width: 320px) 
and (max-width: 414px) {
	form {
		width: 80%;
	}
}

